<!-- views/todos.erb -->
<header>
  <div id='header-left'>
    <h1>Todo List</h1>
    <h3>Add a Todo!</h3>
  </div>
  <div>
    <form action="/todos" method="POST" class="form">
      <input type="text" name="title"/>
      <input type="text" name="date"/>
      <input type="submit"/>
    </form>
  </div>
</header>

<section class='todos-container'>
  <div class='gallery'>
    <% @todos.each_with_index do |todo,index| %>
      <% todo.each do | k,v |%>
        <div class='btn-container'>
        <h3>
        <% if k.to_s=='title'%>
           <a href="/todos/<%= index+1 %>" class="todo-box"><%= v %></a>
        <% elsif v.to_s.empty? %>
          <a href="/todos/<%= index+1 %>" class="todo-box">No End Date</a>
        <% else %>  
           Deadline: <%= v %>
        <% end %>
          </h3>
      <% end %>
      <br/>  
        <form method='POST' action='/todos/<%= index + 1 %>'>
           <input type='hidden' name='_method' value='delete'>
           <input type='submit' value='Delete'>
        </form>
     <% end %>   
    </div>
   
  </div>
</section>